# 제로베이스 데이터 취업 스쿨 SQL 과제 1
- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 5점
- 5번 15점
- 6번 15점
- 7번 40점
- 8번 5점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [1]:
import mysql.connector
import pandas as pd
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

In [2]:
conn = mysql.connector.connect(
    user = 'root',
    password = 'password',
    charset = 'utf8'
)

In [4]:
sql = 'create database oneday'
cursor = conn.cursor()
cursor.execute(sql)

In [5]:
sql = "create user 'oneday'@'%' identified by '1234'"
cursor.execute(sql)

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [3]:
cursor = conn.cursor()
cursor.execute('show create database oneday')
result = cursor.fetchall()
result

[('oneday',
  "CREATE DATABASE `oneday` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */")]

In [4]:
cursor.execute("show grants for 'oneday'@'%'")
result = cursor.fetchall()
result

[('GRANT USAGE ON *.* TO `oneday`@`%`',)]

문제 2.

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [5]:
cursor.execute('use oneday')
# sql = "create table COFFEE_BRAND( id int primary key auto_increment, name varchar(32))"
# cursor.execute(sql)

In [74]:
sql = 'create table COFFEE_STORE( id int primary key auto_increment, brand varchar(16), name varchar(32), gu_name varchar(16), address varchar(128), lat decimal(16,14), lng decimal(17,14))'
cursor.execute(sql)

문제 3.

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [18]:
list = [(1, 'STARBUCKS'), (2, 'EDIYA')]
sql = 'insert into COFFEE_BRAND values(%s, %s)'
cursor.executemany(sql, list)
conn.commit()

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

In [6]:
cursor.execute('desc COFFEE_BRAND')
result = cursor.fetchall()
result

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('name', 'varchar(32)', 'YES', '', None, '')]

In [75]:
cursor.execute('desc COFFEE_STORE')
result = cursor.fetchall()
result

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('brand', 'varchar(16)', 'YES', '', None, ''),
 ('name', 'varchar(32)', 'YES', '', None, ''),
 ('gu_name', 'varchar(16)', 'YES', '', None, ''),
 ('address', 'varchar(128)', 'YES', '', None, ''),
 ('lat', 'decimal(16,14)', 'YES', '', None, ''),
 ('lng', 'decimal(17,14)', 'YES', '', None, '')]

In [8]:
cursor.execute('select * from coffee_brand')
result = cursor.fetchall()
result

[(1, 'STARBUCKS'), (2, 'EDIYA')]

문제 4.

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

In [10]:
driver = webdriver.Chrome()
driver.get('https://www.starbucks.co.kr/store/store_map.do')

In [11]:
try:
    option_select = driver.find_element(By.CSS_SELECTOR, '#container > div > form > fieldset > div > section > article.find_store_cont > article > header.loca_search > h3 > a')
    option_select.click()
except:
    print('Popup Exception')

In [13]:
region_select = driver.find_element(By.CSS_SELECTOR, '#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a')
region_select.click()

In [14]:
seoul_select = driver.find_element(By.CSS_SELECTOR, '#mCSB_2_container > ul > li:nth-child(1) > a')
seoul_select.click()

In [16]:
# BeautifulSoup으로 처리
req = driver.page_source
soup = BeautifulSoup(req, 'html.parser')

In [17]:
seoul_list = soup.select('#mCSB_3_container ul li')

In [14]:
len(seoul_list)

613

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.z
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [115]:
cursor = conn.cursor(buffered=True)

sql = "insert into COFFEE_STORE (brand, name, gu_name, address, lat, lng) values (1, %s, %s, %s, %s, %s)"

cnt = 1

for content in seoul_list:
    name = content.get('data-name')
    address = soup.select_one(f'#mCSB_3_container > ul > li:nth-child({cnt}) > p').text[:-9]
    lat = content.get('data-lat')
    lng = content.get('data-long')
    gu_name = address.split()[1] if address else ''

    cnt += 1

    cursor.execute(sql, (name, gu_name, address, lat, lng))
    conn.commit()

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

In [ ]:
try:
    option_select = driver.find_element(By.CSS_SELECTOR, '#container > div > form > fieldset > div > section > article.find_store_cont > article > header.loca_search > h3 > a')
    option_select.click()
except:
    print('Popup Exception')

In [ ]:
cursor.execute('select * from coffee_store limit 5')
result = cursor.fetchall()
result

In [117]:
cursor.execute('select count(*) from coffee_store')
result = cursor.fetchall()
result

[(613,)]

In [118]:
driver.close()

문제 6.

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [119]:
driver = webdriver.Chrome()
url = 'https://members.ediya.com/store#none'
driver.get(url)

In [120]:
search_click = driver.find_element(By.CSS_SELECTOR, '#contents > div > div > div.store_wrap > div.srch_wrap > div.srch_tab_wrap > a:nth-child(2)')
search_click.click()

In [121]:
cursor.execute('select distinct(gu_name) from coffee_store')
result = cursor.fetchall()
gu_list = []
for i in result:
    gu_list.append('서울 '+i[0])
gu_list

['서울 강남구',
 '서울 강북구',
 '서울 강서구',
 '서울 관악구',
 '서울 광진구',
 '서울 금천구',
 '서울 노원구',
 '서울 도봉구',
 '서울 동작구',
 '서울 마포구',
 '서울 서대문구',
 '서울 서초구',
 '서울 성북구',
 '서울 송파구',
 '서울 양천구',
 '서울 영등포구',
 '서울 은평구',
 '서울 종로구',
 '서울 중구',
 '서울 강동구',
 '서울 구로구',
 '서울 동대문구',
 '서울 성동구',
 '서울 용산구',
 '서울 중랑구']

In [122]:
search = driver.find_element(By.CSS_SELECTOR,'#keyword')
search.clear()
search.send_keys(gu_list[6])
click_btn = driver.find_element(By.CSS_SELECTOR, '#contents > div > div > div.store_wrap > div.srch_wrap > div.form_search > button.btn_search')
click_btn.click()

req = driver.page_source
soup = BeautifulSoup(req, 'html.parser')
content = soup.select('.store_list > .st_li > .info_txt')[15]
name = content.select_one('.name').text
address = content.select_one('.addr').text.replace('\xa0',' ')

In [123]:
import googlemaps
gmaps_key = 'AIzaSyArL82Xz6b3GTUz2YgEouRPzPw1QihX7Ec'
gmaps = googlemaps.Client(key= gmaps_key)

In [124]:
tmp = gmaps.geocode('이디야' + name, language='ko')
lat = tmp[0]['geometry']['location']['lat']
lng = tmp[0]['geometry']['location']['lng']
lat, lng

(37.62644, 127.0619091)

In [125]:
for i in gu_list:
    search = driver.find_element(By.CSS_SELECTOR,'#keyword')
    search.clear()
    search.send_keys(i)
    click_btn = driver.find_element(By.CSS_SELECTOR, '#contents > div > div > div.store_wrap > div.srch_wrap > div.form_search > button.btn_search')
    click_btn.click()
    print(i)

    req = driver.page_source
    soup = BeautifulSoup(req, 'html.parser')
    
    content = soup.select('.store_list > .st_li')

    for n in range(0, len(content)//2):
        gu_name = i[3:]
        content = soup.select('.store_list > .st_li')[n]
        name = content.select_one('.name').text
        address = content.select_one('.addr').text.replace('\xa0',' ')

        tmp = gmaps.geocode('이디야 '+name, language='ko')
        if len(tmp) > 0:
            lat = tmp[0]['geometry']['location']['lat']
            lng = tmp[0]['geometry']['location']['lng']
        else:
            lat, lng = 0, 0
        
        sql = 'insert into coffee_store (brand, name, gu_name, address, lat, lng) values (2, %s, %s, %s, %s, %s)'
        cursor.execute(sql, (name, gu_name, address, lat, lng))
        conn.commit()

서울 강남구
서울 강북구
서울 강서구
서울 관악구
서울 광진구
서울 금천구
서울 노원구
서울 도봉구
서울 동작구
서울 마포구
서울 서대문구
서울 서초구
서울 성북구
서울 송파구
서울 양천구
서울 영등포구
서울 은평구
서울 종로구
서울 중구
서울 강동구
서울 구로구
서울 동대문구
서울 성동구
서울 용산구
서울 중랑구

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [128]:
cursor.execute('select * from coffee_store where brand = 2 limit 10')
result = cursor.fetchall()
result

[(1704,
  '2',
  '역삼점',
  '강남구',
  '서울 강남구 논현로72길 13 1층(역삼동)',
  Decimal('37.49579000000000'),
  Decimal('127.04051640000000')),
 (1705,
  '2',
  '학동제마점',
  '강남구',
  '서울 강남구 학동로34길 22 (논현동) ',
  Decimal('0E-14'),
  Decimal('0E-14')),
 (1706,
  '2',
  '삼성중앙역점',
  '강남구',
  '서울 강남구 삼성로 608 (삼성동, 우창빌딩) 1층 이디야커피',
  Decimal('37.51389330000000'),
  Decimal('127.05326880000000')),
 (1707,
  '2',
  '삼성대치점',
  '강남구',
  '서울 강남구 삼성로64길 32 (대치동, 주성빌딩) 1층',
  Decimal('37.50027580000000'),
  Decimal('127.06301810000000')),
 (1708,
  '2',
  '강남대치점',
  '강남구',
  '서울 강남구 역삼로 415 (대치동, 성진빌딩) 1층',
  Decimal('37.49666450000000'),
  Decimal('127.06298040000000')),
 (1709,
  '2',
  '강남율현점',
  '강남구',
  '서울 강남구 밤고개로21길 8 (율현동, 세곡프라자) 지상1층 104,105호',
  Decimal('37.49666450000000'),
  Decimal('127.06298040000000')),
 (1710,
  '2',
  '선릉역점',
  '강남구',
  '서울 강남구 테헤란로 332 (역삼동, 에이치제이타워) 이디야커피',
  Decimal('0E-14'),
  Decimal('0E-14')),
 (1711,
  '2',
  '한티역점',
  '강남구',
  '서울 강남구 도곡로69길 8 (대치동) 1층',
  Decimal('37.49793410000000'),
  Decimal('127.05608790000000')),
 (1712,
  '2',
  '청담역점',
  '강남구',
  '서울 강남구 삼성로 721 (청담동, 룩희 819) 1층',
  Decimal('37.52002940000000'),
  Decimal('127.04913950000000')),
 (1713,
  '2',
  '강남구청역아이티웨딩점',
  '강남구',
  '서울 강남구 학동로 338 (논현동, 강남파라곤) 이디야커피',
  Decimal('37.51646650000000'),
  Decimal('127.04041910000000'))]

In [129]:
cursor.execute('select count(*) from coffee_store where brand = 2')
result = cursor.fetchall()
result

[(477,)]

문제 7.

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

In [130]:
sql = 'select s.gu_name, count(s.brand) from coffee_store as s, coffee_brand as b where b.id = s.brand and b.name="STARBUCKS" group by s.gu_name order by count(s.brand) desc limit 5'
cursor.execute(sql)
result = cursor.fetchall()
result

[('강남구', 91), ('중구', 54), ('서초구', 48), ('영등포구', 42), ('종로구', 40)]

In [131]:
sql = 'select s.gu_name, count(s.brand) from coffee_store as s, coffee_brand as b where b.id = s.brand and b.name="EDIYA" group by s.gu_name order by count(s.brand) desc limit 5'
cursor.execute(sql)
result = cursor.fetchall()
result

[('영등포구', 35), ('강남구', 30), ('강서구', 25), ('중구', 24), ('송파구', 24)]

In [132]:
cursor.execute("select gu_name, '스타벅스' as brand, count(brand) as count from coffee_store where brand = 1 group by gu_name")
result = cursor.fetchall()
result

[('강남구', '스타벅스', 91),
 ('강북구', '스타벅스', 6),
 ('강서구', '스타벅스', 27),
 ('관악구', '스타벅스', 12),
 ('광진구', '스타벅스', 18),
 ('금천구', '스타벅스', 13),
 ('노원구', '스타벅스', 14),
 ('도봉구', '스타벅스', 7),
 ('동작구', '스타벅스', 11),
 ('마포구', '스타벅스', 36),
 ('서대문구', '스타벅스', 22),
 ('서초구', '스타벅스', 48),
 ('성북구', '스타벅스', 15),
 ('송파구', '스타벅스', 36),
 ('양천구', '스타벅스', 17),
 ('영등포구', '스타벅스', 42),
 ('은평구', '스타벅스', 14),
 ('종로구', '스타벅스', 40),
 ('중구', '스타벅스', 54),
 ('강동구', '스타벅스', 17),
 ('구로구', '스타벅스', 14),
 ('동대문구', '스타벅스', 13),
 ('성동구', '스타벅스', 14),
 ('용산구', '스타벅스', 24),
 ('중랑구', '스타벅스', 8)]

In [133]:
sql = "select gu_name, '이디야' as brand, count(brand) from coffee_store where brand = 2 group by gu_name"
cursor.execute(sql)
result = cursor.fetchall()
result

[('강남구', '이디야', 30),
 ('강북구', '이디야', 10),
 ('강서구', '이디야', 25),
 ('관악구', '이디야', 19),
 ('광진구', '이디야', 13),
 ('금천구', '이디야', 14),
 ('노원구', '이디야', 16),
 ('도봉구', '이디야', 18),
 ('동작구', '이디야', 17),
 ('마포구', '이디야', 22),
 ('서대문구', '이디야', 12),
 ('서초구', '이디야', 23),
 ('성북구', '이디야', 22),
 ('송파구', '이디야', 24),
 ('양천구', '이디야', 15),
 ('영등포구', '이디야', 35),
 ('은평구', '이디야', 20),
 ('종로구', '이디야', 22),
 ('중구', '이디야', 24),
 ('강동구', '이디야', 20),
 ('구로구', '이디야', 17),
 ('동대문구', '이디야', 16),
 ('성동구', '이디야', 11),
 ('용산구', '이디야', 9),
 ('중랑구', '이디야', 23)]

문제 8.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

In [135]:
sql = "select * from (select s.id as s_id, b.name as s_brand, s.name as s_name, s.gu_name as s_gu, s.address as s_address, s.lat as s_lat, s.lng as s_lng from coffee_store s, coffee_brand b where b.id = s.brand and b.name like 'STARBUCKS') as st, (select s.id e_id, b.name e_brand, s.name e_name, s.gu_name e_gu, s.address e_address, s.lat e_lat, s.lng e_lng from coffee_store s, coffee_brand b where b.id = s.brand and b.name like 'EDIYA') as ed order by st.s_id, ed.e_id"
cursor.execute(sql)
result = cursor.fetchall()

df = pd.DataFrame(result)
df.columns = ['s_id', 's_brand', 's_name','s_gu','s_address', 's_lat','s_lng', 'e_id','e_brand', 'e_name', 'e_gu', 'e_address', 'e_lat', 'e_lng']
df.head()

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1704,EDIYA,역삼점,강남구,서울 강남구 논현로72길 13 1층(역삼동),37.49579000000000,127.04051640000000
1,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1705,EDIYA,학동제마점,강남구,서울 강남구 학동로34길 22 (논현동),0E-14,0E-14
2,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1706,EDIYA,삼성중앙역점,강남구,"서울 강남구 삼성로 608 (삼성동, 우창빌딩) 1층 이디야커피",37.51389330000000,127.05326880000000
3,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1707,EDIYA,삼성대치점,강남구,"서울 강남구 삼성로64길 32 (대치동, 주성빌딩) 1층",37.50027580000000,127.06301810000000
4,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1708,EDIYA,강남대치점,강남구,"서울 강남구 역삼로 415 (대치동, 성진빌딩) 1층",37.49666450000000,127.06298040000000

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

In [136]:
df.head()

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1704,EDIYA,역삼점,강남구,서울 강남구 논현로72길 13 1층(역삼동),37.49579000000000,127.04051640000000
1,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1705,EDIYA,학동제마점,강남구,서울 강남구 학동로34길 22 (논현동),0E-14,0E-14
2,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1706,EDIYA,삼성중앙역점,강남구,"서울 강남구 삼성로 608 (삼성동, 우창빌딩) 1층 이디야커피",37.51389330000000,127.05326880000000
3,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1707,EDIYA,삼성대치점,강남구,"서울 강남구 삼성로64길 32 (대치동, 주성빌딩) 1층",37.50027580000000,127.06301810000000
4,1091,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.50108700000000,127.04306900000000,1708,EDIYA,강남대치점,강남구,"서울 강남구 역삼로 415 (대치동, 성진빌딩) 1층",37.49666450000000,127.06298040000000

In [137]:
df.to_csv('./starbucks_ediya.csv', index=False, encoding = 'euc-kr')

---